.resume {
    border-radius: 8px;
    padding: 1rem;
    border-top: 8px solid var(--icon-color);
    background-color: var(--header-background);
    color: black;
}

.resume-header {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid var(--dark-accent-color);
    margin-bottom: .5rem;
    color: var(--dark-accent-color)
}

.personal-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 1rem;
}

.section-header {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid var(--dark-accent-color);
    margin-bottom: .5rem;
}

.top-level {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.dates {
    font-style: italic;
}