.form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-field {
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Noto Sans';
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 4px;
}